.hero{
    min-height:100vh;
    display:grid;
    grid-template-columns:1.1fr .9fr;
    align-items:center;
    gap:6rem;
    max-width:1300px;
    margin:auto;
    padding:120px 8%;
}

.hero h1{

    font-size:clamp(4rem,8vw,7rem);

    line-height:.95;

    letter-spacing:-4px;
}

.hero p{

    font-size:1.15rem;

    max-width:650px;

    margin:2rem 0;
}

.hero-buttons{

display:flex;

gap:1rem;

margin-top:2rem;

flex-wrap:wrap;

}

.hero-image{

position:relative;

}

.hero-image img{

width:100%;

border-radius:30px;

transition:.5s;

}

.hero-image:hover img{

transform:scale(1.03);

}

.hero-image::before{

content:"";

position:absolute;

inset:-30px;

background:radial-gradient(circle,#2563eb33,transparent);

filter:blur(50px);

z-index:-1;

}
